{% extends "base.html" %}
{% load filters %}

{%block title %}
    Historial de calibraciones
{% endblock %}

{% block content %}
<main class="container_excel-btn">
    <section class="box_button_table">
        <section class="container_btn_b-f">
            <section class="container_btns">
                <div class="div_button_guardar">
                    <a href="{% url 'calibracion:calibracion' %}">
                        <button class="btn" type="button">Regresar</button>
                    </a>
                </div>
            </section>
 
            <section class="container_btns">
                <div class="box_buscar">
                    <div><img src="/media/imgs/img/ico_search1.png" alt="Search Icon"></div>
                    <div><input type="text" id="inputBusqueda" placeholder="Certificado, id, responsable o fecha"></div>
                </div>
 
                <div class="box_filtro">
                    <div><img src="/media/imgs/img/ico_filter1.png" alt="Filter Icon"></div>
                    <div>
                        <select id="filtroPrincipal" onchange="mostrarSublista()">
                            <option value="">Filtro</option>
                            <option value="direccion">Direccion de especialidad</option>
                            <option value="sede">Sede</option>
                            <option value="clasificacion">Clasificacion</option>
                            <option value="dictamen">Dictamen</option>
                        </select>
                    </div>
        
                    <div id="sublistaDireccion" style="display: none;">
                        <!-- Contenido de la sublista para Dirección de especialidad -->
                        <select onchange="actualizarListaEquipos('Direccion de especialidad', this.value);">
                            <option value="">Seleccione una opción</option>
                            <option value="Ingeniería De Plantas">IP - Ingeniería De Plantas</option>
                            <option value="Ingeniería Virtual Y Manufactura">IV - Ingeniería Virtual Y Manufactura</option>
                            <option value="Laboratorios">LS - Laboratorios</option>
                            <option value="Sistemas de Medición">MD - Sistemas de Medición</option>
                            <option value="Plásticos Y Materiales Avanzados">PM - Plásticos Y Materiales Avanzados</option>
                            <option value="Sistemas Mecánicos">SM - Sistemas Mecánicos</option>
                            <option value="TI- Electrónica Y  Control">TT - TI- Electrónica Y  Control</option>
                        </select>
                    </div>
                
                    <div id="sublistaSede" style="display: none;">
                        <!-- Contenido de la sublista para Sede -->
                        <select onchange="actualizarListaEquipos('Sede', this.value);">
                            <option value="">Seleccione una opción</option>
                            <option value="Aguascalientes">Aguascalientes</option>
                            <option value="Estado de México">Estado de México</option>
                            <option value="Hidalgo">Hidalgo</option>
                            <option value="Jalisco">Jalisco</option>
                            <option value="Querétaro">Querétaro</option>
                            <option value="San Luis Potosí">San Luis Potosí</option>
                            <option value="Tabasco">Tabasco</option>
                        </select>
                    </div>
                
                    <div id="sublistaClasificacion" style="display: none;">
                        <!-- Contenido de la sublista para Clasificacion -->
                        <select onchange="actualizarListaEquipos('Clasificacion', this.value);">
                            <option value="">Seleccione una opción</option>
                            <option value="Accesorio">Accesorio</option>
                            <option value="Instrumento">Instrumento</option>
                            <option value="Patron">Patron</option>
                        </select>
                    </div>

                    <div id="sublistaDictamen" style="display: none;">
                        <!-- Contenido de la sublista para Clasificacion -->
                        <select onchange="actualizarListaEquipos('Dictamen', this.value);">
                            <option value="">Seleccione una opción</option>
                            <option value="Conforme">Conforme</option>
                            <option value="No Conforme">No Conforme</option>
                        </select>
                    </div>
                </div>
            </section>

            <section class="container_btns">
                <div class="container_counter">
                    <span id="numeroRegistros">{{equipos_totales}} registros de calibración.</span>
                </div>
            </section>

        </section>
    </section>
</main>

<section class="box_table">
    <div class="table-container">
        <table class="table_main" id="tablaEquipos">
            <thead>
                <tr>
                    <th>Equipo</th>
                    <th class="cod_cer_cal">Codigo del certificado de calibración</th>
                    <th>Fecha</th>
                    <th class="clase-dictamen">Dictamen</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% if registros %}
                {% for registro in registros %}
                {% with indicador=indicadores|get_item:registro.id_especificacion %}
                <tr dir_e="{{ indicador.dirEsp }}" sede="{{ indicador.sede }}" clasif="{{ indicador.clasificacion }}" e_resp="{{ indicador.emailResp }}" n_resp="{{ indicador.nombreResp }}" fecha="{{ registro.fecha.year }}-{{registro.fecha.month}}-{{registro.fecha.day}}">
                    <td>{{registro.id_especificacion }}</td>
                    <td class="cod_cer_cal">{{ registro.cod_cer_cal }}</td>
                    <td>{{ registro.fecha }}</td>
                    <td class="clase-dictamen">{{ registro.dictamen }}</td>
                    <td>
                        <select class="form-control" onchange="location = this.value;">
                            <option value="">Selecciona una acción</option>
                            <option value="{% url 'calibracion:detalles' registro.cod_cer_cal %}">Detalles</option>
                        </select>
                    </td>
                </tr>
                {% endwith %}
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="5">No hay calibraciones registradas</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</section>
{% endblock %}