{% extends "base.html" %}


{%block title %}
Modificación de la especificación para mantenimiento
{% endblock %}


{% block content %}
<main>
    <form method="post">
        {% csrf_token %}
        <div class="id_folio_text">
            <h3>ID:{{id_equipo}}</h3>
        </div>

        <hr class="RedLine_ID">

        <div class="ico-box">
            <div><img src="/media/imgs/img/ico_EspecificacionMetrologica.png" alt="Datos generales" class="ico"></div>
            <div>
                <h3>Especificación de Mantenimiento</h3>
            </div>
        </div>

        <section class="box">
            <section class="datos-generales1">
                <section>
                    <div>
                        <label for="marca">Periodo entre mantenimiento</label>
                        {{form.periodo}}
                        {{form.periodo.errors}}
                    </div>
                </section>
            </section>

            <section class="datos-generales1">
                <section>
                    <div>
                        <label for="marca">Tipo de periodo</label>
                        {{form.tipo_periodo}}
                        {{form.tipo_periodo.errors}}
                    </div>
                </section>
            </section>
        </section>

        <div class="box_descripcion">
            <div><label for="marca">Descripción</label></div>
            <div>{{form.comentario}}{{form.comentario.errors}}</div>
        </div>
        <br><br><br>
        <div class="div_button_guardar">
            <button class="btn" type="submit">Guardar</button>
        </div>
    </form>
</main>
{% endblock %}